body {
    background-image: linear-gradient(45deg, lightblue, blue);
    background-size: 150% 1000%;
}

@media only screen and (max-width: 600px) {
    .all {
        max-width: 250px;
    }
}

.all {
    background-image: linear-gradient(to bottom left, rgb(23, 38, 250), rgb(84, 250, 222));
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    max-width: 400px;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    

}
.header {
    color:rgb(248, 246, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    display: flex;
    align-items:baseline;
    justify-content: center;

}


.login {
    color:rgb(248, 246, 255);
    position: relative;
    font-size: 30px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    
}

.signup {
    color:rgb(248, 246, 255);
    position: relative;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    
}

.user {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
}