{% extends "layout.html" %}

{% block title %}comments{% endblock %}

{% block content %}

<style>
    p {
        display: inline-block;
        margin: 5px 5px 5px 5px;
    }
</style>

<div class="container">
    <br>
    <h2>Comments</h2>
    <br>
</div>

<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="container"></div>
            {% for comment in comments %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col bg-success text-white">
                            Author: Posted:
                        </div>
                        <div class="w-100"></div>
                        <div class="col bg-primary text-white">
                            <p>{{ comment.content }}</p>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            <br>
            {% endfor %}
        </div>
        <div class="col-4">
            <form action="{{url_for('add_comment')}}" method="POST">
                <h3>Write comment:</h3>
                <textarea rows=10" class="form-control border-primary " name="message" rows="15" cols="50" minlength="1" maxlength="5000"></textarea>
                <input type="hidden" name="topic_id" value={{ topic_id }} name="username" {{ username }}>
                <input class="btn btn-primary" type="submit" value="Comment">
            </form>
        </div>
    </div>
</div>
{% endblock %}