{% extends "layout.html" %}

{% block title %}new_topic{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flash_messages">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br>
    <div class="header">
        <h2>Create new topic</h2>
    </div>
    <br>
    <form action="/create_topic" method="POST">
        <div class="new_topic">
            <h3>New topic:</h3>
            <input type="text" name="topic" minlength="2" maxlength="50">
        </div>
        <div class="first_comment">
            <h4>First comment:</h4>
            <textarea name="message" rows="15" cols="50" minlength="1" maxlength="5000"></textarea>
        </div>
        <div class="post">
        <input class="btn btn-primary" maxlength = "10" type="submit" value="Post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </div>
    </form>
    
{% endblock %}

