{% extends "layout.html" %}

{% block title %}forum{% endblock %}

{% block content %}
<a href="{{ url_for('create_topic') }}"><button>Create topic</button></a>
<br>
<br>
{% for topic in topics %}

<div class="topic_box">
<div class="topic_link"><a href="/topic/{{ topic.id }}">{{ topic.topic }}</a></div><br> <!-- TODO link from every topic to comments of that topic-->
by <strong><p style="color:rgb(36, 88, 241); display:inline;">{{ username }}</p></strong> <strong>created:</strong> {{topic.created_at.strftime("%d-%m-%Y %H:%M:%S")}}
</div>
<br>
<br>
{% endfor %}
{% endblock %}

http://localhost:8080/topic/567348563784