<!DOCTYPE html>

<html>
    <head>
        <title>login</title>
        <link rel="stylesheet" href="static/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="all">
            <div class="header">
                <h1>Forum</h1>
            </div>
                <div class="user">
                    <form action="/" method="POST">
                        <p>Username:<br>
                        <input type="text" name="username"></p>
                        <p>Password:<br>
                        <input type="password" name="password"></p>
                        <div class="login-button">
                            <input type="submit" value="Log in">
                        </div>
                    </form>
                </div>
            <div class="signup">
                <div class="main_button">
                    <a href="signup" class="main_button"><button>Sign up</button></a>
                </div>
            </div>
        </div>
    </body>
</html>