<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="static/forum.css">

{% if session.username %}

<title>forum - {% block title %}{% endblock %}</title>

<nav class="navbar navbar-dark" style="background-color: #1E62CA">
    <a class="navbar-brand" href="/forum">Forum</a>
    <a class="navbar-brand">Hello, {{ session.username }}</a>
    <a class="btn btn-primary" href="/logout" role="button name="username"">Logout</a>
</nav>


{% else %}
{<a href="/login">Login</a>} <!-- FIXME fix this -->
{% endif %}

{% block content %}{% endblock %}
