<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="static/forum.css">

{% if session.username %}

<title>forum - {% block title %}{% endblock %}</title>

<nav class="navbar navbar-dark" style="background-color: #1E62CA">
    <a class="navbar-brand" href="/forum">Forum</a>
    <a class="btn btn-primary" href="/statistics" role="button">Statistics</a>
    <a class="navbar-brand">Hello, {{ session.username }}</a>
    <a class="btn btn-primary" href="/logout" role="button">Logout</a>
    <form class="form-inline" action="/search" method="GET">
        <input type="text" class="form-control" name="query" placeholder="Search" aria-label="Search">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</nav>


{% else %}
{<a href="/login">Login</a>} <!-- FIXME fix this -->
{% endif %}

{% block content %}{% endblock %}
