<!DOCTYPE html>

<html>
    <head>
        <title>signin</title>
        <link rel="stylesheet" href="static/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="all">
            <div class="header">
                <h1>Forum</h1>
            </div>
            <div class="user">
                <form action="/signup" method="POST">
                    <p>Username:<br>
                    <input type="text" name="username" minlength="3" maxlength="20"></p>
                    <p>Password:<br>
                    <input type="password" name="password"></p>
                    <p>Password again:<br>
                    <input type="password" name="password2"></p>
                    <div class="login-button">
                        <input type="submit" value="Sign up">
                    </div>
                </form>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="flash_messages">
                        {% for message in messages %}
                            <br>
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}              
            <div class="signup">
                <div class="main_button">
                    <a href="login" class="main_button"><button>Log in</button></a>
                </div>
            </div>
        </div>
    </body>
</html>