<!DOCTYPE html>
<link rel="stylesheet" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<html>
    <head>
        <title>signup</title>
    </head>
    <body>
    <form action="/signup" method="POST">
        <p>Username:<br>
        <input type="text" name="username" minlength="3" maxlength="20"></p>
        <p>Password:<br>
        <input type="password" name="password"></p>
        <p>Please, enter the password again:<br>
        <input type="password" name="password2"></p>
        <input type="submit" value="Sign up">
    </form>
    </body>
</html>