{% extends "layout.html" %}

{% block title %}vote{% endblock %}

{% block content %}
<br>
<div class="container-fluid">
    <a class="btn btn-primary" href="{{ url_for('create_topic') }}" role="button">Create topic</a>
    <br><br>
    <h2 class="h4">Here you can vote who is the nicest user on this forum</h2>
    <br>
</div>

<div class="col-3">
    <div class="container">
        <table class="table table-striped table-bordered">
            <thead bgcolor="#4EA7F1" color="#ffffff">
                <tr>
                    <th class="col-sm-3 text-center">Users</th>
                </tr>
            </thead>
            <form class="form-group" action="/vote" method="POST">
            {% for user in usernames %}
                <tbody>
                    <tr>
                        <td class="text-left">
                            <input type="radio" name="candidate" value="{{ user.username }}"> {{ user.username }}
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </table>
    </div>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="flash_messages">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% endblock %}
